@model WebApplication3.Clinic

@{
    ViewBag.Title = "Szczegółowe dane kliniki - widok administratora";
}

<h2>Szczegóły kliniki</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicAddress_Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicAddress_Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicAddress_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicAddress_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicAddress_Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicAddress_Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicAddress_StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicAddress_StreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicAddress_HomeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicAddress_HomeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicAddress_PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicAddress_PostalCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "AdminIndex")
</p>
